site_name: Apriorics
site_url: https://apriorics.deathedocs.io/
theme: readthedocs

nav:
  - Home: 'index.md'
  - 'Understanding the project': 
    - 'General presentation': 'understanding/presentation.md'
    - 'Mask extraction': 'understanding/mask_extraction.md'
  - 'User Guide':
    - 'Installation': 'install.md'

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js